<div class="container-fluid container-blue py-4">
    <div class="container">
        <h1 class="display-5">TP2 Programación III 112905 Ignacio Napal 2W2</h1>
        <p class="lead mt-4">Trabajo práctico con frontend realizado en Angular 13. Consume una API que devuelve listado
            de
            coordenadas, con las cuales se establecen marcadores en un mapa</p>
    </div>
</div>
<div class="container text-center mt-4">
    <button (click)="redireccionarMapa()" class="btn btn-blue">Ir al mapa 🌎</button>
</div>